@import "../../variables";

.product-wrapper {
  width: $product-card-width + px;
  max-width: $product-card-width + px;
  height: $product-card-height + px;
  @include flex-column-line-start-vertical-top;
  flex-basis: 31.1%;
  position: relative;
  transition-property: transform, box-shadow;
  transition-timing-function: linear;
  transition-duration: 0.5s;
  background-color: #fff;

  .add-to-cart-default-button {
    width: 52px;
    height: 52px;
    position: absolute;
    bottom: 72px;
    right: 31px;
    @include flex-all-center;
    @include user-select-none;
    border-radius: 50%;
    transition-property: background-color;
    transition-timing-function: linear;
    transition-duration: 0.5s;
    transform: scale(0) translateX(-$product-card-width * 1.5 + px);
    animation-name: sliding;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-duration: 0.5s;
    cursor: pointer;
    z-index: 1;

    &:not(:hover) {
      background-color: #5ece7b;
    }

    img {
      width: 24px;
      height: 24px;
      display: inline;
    }
  }
}

@keyframes sliding {
  100% {
    transform: none;
  }
}

.product-card-wrapper {
  width: 100%;
  height: $product-card-height + px;
  @include flex-column-line-center-vertical-top;
  @include user-select-none;
  position: relative;
  padding: 16px;
  padding-bottom: 0;

  &.out-of-stock {
    opacity: 0.5;
  }

  .poster-wrapper {
    width: 100%;
    height: 338px;
    @include flex-all-center;
    position: relative;
    margin-bottom: 21px;
    overflow-x: hidden;

    .product-poster {
      display: none;
      width: auto;
      max-width: 100%;
      max-height: 338px;
      position: absolute;
    }

    .out-of-stock-title {
      font-family: "Raleway";
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 160%;
      color: #8d8f9a;
      z-index: 1;
    }
  }

  .product-title-wrapper {
    width: 100%;
    position: relative;
  }

  .product-title {
    width: 100%;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 160%;
    color: #1d1f22;
  }

  .product-price {
    width: 100%;

    span {
      font-family: "Raleway";
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 160%;
      color: #1d1f22;
    }
  }
}

@media (hover: hover) {
  .product-wrapper {
    &:hover {
      transform: translateX(-10px) translateY(-10px) scale(1.1);
      box-shadow: 5px 5px 10px 0 grey;
      z-index: 1;
    }
  }

  .add-to-cart-default-button {
    &:hover {
      background-color: yellowgreen;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .product-wrapper {
    max-width: $product-card-width + px;
    height: $product-card-height * 0.7 + px;
    @include flex-column-line-start-vertical-top;
    flex-basis: 33%;
    position: relative;
    padding-bottom: 15px;

    .add-to-cart-default-button {
      width: 52 * 0.66 + px;
      height: 52 * 0.66 + px;
      position: absolute;
      bottom: 68px;
      right: 12px;
      @include flex-all-center;
      @include user-select-none;
      transform: scale(0) translateX(-$product-card-width * 0.8 + px);
      animation-duration: 0.5s;

      img {
        width: 24 * 0.66 + px;
        height: 24 * 0.66 + px;
      }
    }
  }

  .product-card-wrapper {
    width: 100%;
    height: $product-card-height * 0.7 + px;
    @include flex-column-line-center-vertical-top;
    @include user-select-none;

    .poster-wrapper {
      width: 100%;
      height: 100%;
      @include flex-all-center;
      margin-bottom: 16px;
      overflow-x: hidden;

      .product-poster {
        width: auto;
        max-height: 338 * 0.57 + px;
        position: absolute;
      }

      .out-of-stock-title {
        font-family: "Raleway";
        font-style: normal;
        font-weight: 400;
        font-size: 24 * 0.83 + px;
        line-height: 160%;
        color: #8d8f9a;
        z-index: 1;
      }
    }

    .product-title-wrapper {
      width: 100%;
      position: relative;
    }

    .product-title {
      width: 100%;
      font-family: "Raleway";
      font-style: normal;
      font-weight: 300;
      font-size: 18 * 0.78 + px;
      line-height: 160%;
      color: #1d1f22;
    }

    .product-price {
      width: 100%;

      span {
        font-family: "Raleway";
        font-style: normal;
        font-weight: 500;
        font-size: 18 * 0.78 + px;
        line-height: 160%;
        color: #1d1f22;
      }
    }
  }
}