@import "../../variables";

.shop-page-wrapper {
  width: 100%;
  height: calc(100vh - #{($header-height + px)});
  @include flex-column-line-start-vertical-top;
  @include user-select-none;
  padding-left: 101px;
  padding-right: 116px;
  overflow-y: scroll;
  overflow-x: hidden;

  .category-name-container {
    width: 100%;
    min-height: 267px;
    padding-top: 80px;
    @include flex-column-line-start-vertical-top;

    span {
      font-family: "Raleway";
      font-style: normal;
      font-weight: 400;
      font-size: 42px;
      line-height: 160%;
      color: #1d1f22;
    }
  }

  .products-container {
    width: 100%;
    max-width: 1238px;
    height: auto;
    @include flex-line-start-vertical-top;
    flex-wrap: wrap;
    gap: 40px;
    margin-left: 15px;
    margin-bottom: 10px;
  }
}
