@import "../../variables";

.loading-wrapper {
  width: 100%;
  height: calc(100vh - #{($header-height + px)});
  @include flex-all-center;
  @include user-select-none;

  h2 {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    color: yellowgreen;
    animation-name: flashing;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 0.3s;
  }
}

@keyframes flashing {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}

.shop-page-wrapper {
  width: 100%;
  height: calc(100vh - #{($header-height + px)});
  @include flex-column-line-start-vertical-top;
  @include user-select-none;
  padding-left: 100px;
  padding-right: 102px;
  overflow-y: scroll;
  overflow-x: hidden;

  .category-name-container {
    width: 100%;
    min-height: 267px;
    padding-top: 80px;
    @include flex-column-line-start-vertical-top;

    span {
      font-family: "Raleway";
      font-style: normal;
      font-weight: 400;
      font-size: 42px;
      line-height: 160%;
      color: #1d1f22;
    }
  }

  .products-container {
    width: 100%;
    max-width: 1238px;
    height: auto;
    @include flex-line-start-vertical-top;
    flex-wrap: wrap;
    gap: 40px;
    margin-left: 15px;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .products-container {
    gap: 2px !important;
  }
}