@import "../../variables";

.cart-item-wrapper {
  width: 100%;
  height: auto;
  @include flex-column-line-start-vertical-top;
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e5e5e5;

  &.first {
    border-top: 1px solid #e5e5e5;
  }

  &.mini-cart {
    padding: 0;
    margin-bottom: 40px;
    border: none;
  }

  .cart-item-data-containers {
    width: 100%;
    height: 100%;
    @include flex-line-spacebetween-vertical-center;

    &.mini-cart {
      @include flex-line-start-vertical-top;
    }

    .cart-item-information-container {
      width: auto;
      min-width: 100px;
      height: 100%;
      @include flex-column-line-start-vertical-top;

      .brand-paragraph {
        margin-bottom: 16px;
        font-family: "Raleway";
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 27px;
        color: #1d1f22;

        &.mini-cart {
          margin-bottom: 0;
          font-family: "Raleway";
          font-style: normal;
          font-weight: 300;
          font-size: 16px;
          line-height: 160%;
          display: flex;
          align-items: center;
          color: #1d1f22;
        }
      }

      .name-paragraph {
        margin-bottom: 20px;
        font-family: "Raleway";
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 27px;
        color: #1d1f22;

        &.mini-cart {
          margin-bottom: 4px;
          font-family: "Raleway";
          font-style: normal;
          font-weight: 300;
          font-size: 16px;
          line-height: 160%;
          display: flex;
          align-items: center;
          color: #1d1f22;
        }
      }

      .price-paragraph {
        margin-bottom: 20px;

        span {
          font-family: "Raleway";
          font-style: normal;
          font-weight: 700;
          font-size: 24px;
          line-height: 24px;
          color: #1d1f22;
        }

        &.mini-cart {
          margin-bottom: 8px;

          span {
            font-family: "Raleway";
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 160%;
            text-align: right;
            color: #1d1f22;
          }
        }
      }

      .attributes-container {
        @include flex-column-line-start-vertical-top;
        gap: 16px;

        &.mini-cart {
          gap: 8px;
        }

        .attribute-block {
          @include flex-column-line-start-vertical-top;

          .attribute-header {
            margin-bottom: 7px;
            font-family: "Roboto Condensed";
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 18px;
            color: #1d1f22;

            &.mini-cart {
              font-family: "Raleway";
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 16px;
            }
          }

          .attribute-items-container {
            width: auto;
            height: 45px;
            @include flex-line-start-vertical-center;
            gap: 8px;

            &.mini-cart {
              height: 30px;
              gap: 7px;
              flex-wrap: wrap;
            }

            &:last-of-type {
              margin-bottom: 0;
            }

            .attribute-property {
              width: 63px;
              height: 100%;
              @include flex-all-center;
              border: 1px solid #1d1f22;
              background-color: #fff;
              cursor: pointer;

              &.mini-cart {
                width: 30px;
                height: 30px;

                span {
                  font-family: "Source Sans Pro";
                  font-style: normal;
                  font-weight: 400;
                  font-size: 8.8px;
                  line-height: 160%;
                }
              }

              span {
                font-family: "Source Sans Pro";
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 18px;
                letter-spacing: 0.05em;
                color: #1d1f22;
              }

              &.active {
                background-color: #1d1f22;

                span {
                  color: #fff;
                }
              }
            }
          }

          .attribute-color-items-container {
            width: auto;
            height: 36px;
            @include flex-line-start-vertical-center;
            gap: 6px;

            &.mini-cart {
              height: 20px;
              gap: 2.2px;
            }

            .attribute-property {
              width: 36px;
              height: 100%;
              @include flex-all-center;
              padding: 1px;
              border: 1px solid #fff;
              cursor: pointer;

              &.mini-cart {
                width: 20px;
                height: 20px;
              }

              .color-square {
                width: 100%;
                height: 100%;

                &.white-color {
                  border: 1px solid #000;
                }
              }

              &.active {
                border: 1px solid #5ece7b;
              }
            }
          }
        }
      }
    }

    .cart-item-quantity-and-poster-container {
      width: auto;
      min-width: 100px;
      height: 100%;
      @include flex-line-start-vertical-bottom;
      gap: 24px;

      &.mini-cart {
        width: 153px;
        min-width: 153px;
        height: 190px;
        @include flex-line-start-vertical-top;
        gap: 8px;
        margin-right: 2px;
      }

      .product-count-block {
        width: 45px;
        height: 100%;
        @include flex-column-line-center-vertical-spacebetween;

        &.mini-cart {
          width: 24px;
          min-width: 24px;
          margin-left: 10px;
        }

        .increment-decrement-button {
          width: 100%;
          height: 45px;
          @include flex-all-center;
          cursor: pointer;

          &.mini-cart {
            height: 24px;
          }

          img {
            width: 100%;
            height: 100%;
          }
        }

        .quantity-paragraph {
          font-family: "Raleway";
          font-style: normal;
          font-weight: 500;
          font-size: 24px;
          line-height: 160%;
          color: #1d1f22;

          &.mini-cart {
            font-family: "Raleway";
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 160%;
          }
        }
      }

      .product-posters-container {
        width: 200px;
        height: 100%;
        @include flex-line-start-vertical-center;
        position: relative;

        &.mini-cart {
          @include flex-line-start-vertical-top;
          @include flex-line-start-vertical-bottom;
        }

        img {
          width: 100%;
          height: auto;
        }

        .poster-slider-container {
          width: 56px;
          height: 24px;
          @include flex-line-start-vertical-center;
          gap: 8px;
          position: absolute;
          bottom: 16px;
          right: 16px;

          &.mini-cart {
            width: 45px;
            height: 18px;
            bottom: 4px;
            right: 4px;
          }

          .next-previous-button {
            width: 24px;
            height: 100%;
            @include flex-all-center;
            background-color: rgba(0, 0, 0, 0.73);
            cursor: pointer;

            &.mini-cart {
              width: 18px;
            }

            .arrow-image {
              width: 5.63px;
              height: 11.24px;

              &.mini-cart {
                height: 8px;
              }
            }
          }
        }
      }
    }
  }
}